
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
   
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin:0;
    background:whitesmoke;
}


.selector-for-some-widget {
    box-sizing: content-box;
  }

nav {
    font-weight: 600;
    font-family: 'Proxima nova', 'sans-serif';
    
}

.bg-light {
    background-color:#ffffff !important;

}

#hero {
  width: 100%;
  margin-top: 77px;
  margin-bottom: 125px;
  
}

#search {
  width: 100%;
 
}
a.sales {

  text-align: left;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px 15px 15px 15px;
  font-weight: 500;
 
}

a.sales{
  text-decoration: none;
  color: #5c70ff;
  width: 172px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

a.sales:after {
  content: url(images/people/all\ together.png);
  transform: scale(0.3);
  position: absolute;
  opacity: 0;  
  top: -500px;
  left:0px;
  transition: 0.5s;
  right: -800px;
}

a.sales:hover{
  text-decoration: underline;
  padding-right: 24px;
  padding-left:8px;
}

a.sales:hover:after {
  content: url(images/people/all\ together.png);
  top: -500px;
  left: 0px;
  opacity: 1;
  right: -300px;
}

h1 {
  letter-spacing: -2px;
  text-align: left;
  font-weight: 600;
  width: 56%;
  line-height: 85px;
  font-size: 92px;
  color: #24000B;
}

/*steps section index*/

#steps > div > div > div:nth-child(2) {
 
  column-gap: 1em;
  flex-wrap: nowrap;
  display: flex;
  column-gap: 40px;
}

#steps {
  color:whitesmoke;
  background-color: #0d061a;
  padding: 9rem 6em 9em 6em;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 169px;
}
#steps > div > div > div:nth-child(1) > div > div > div > div > h2 {
  text-align: center;
    font-size: 77px;
    font-weight: 800;
    line-height: 74px;
    width: 100%;
}
#steps > div > div > div.row > div:nth-child(1) > div > div > div > div {
  color:#ACAEB2
}
#steps > div > div > div.row > div:nth-child(2) > div > div > div > div {
  color:#ACAEB2
}
#steps > div > div > div.row > div:nth-child(3) > div > div > div > div {
  color:#ACAEB2
}
/*images*/
#steps > div > div > div.row > div:nth-child(1) > div > div > figure > img {
  width:5em;
}
#steps > div > div > div.row > div:nth-child(3) > div > div > figure > img {
width:5em;
}
#steps > div > div > div.row > div:nth-child(2) > div > div > figure > img {
  width:5em;
  }


/* end images*/

#steps-talents {
  color:rgb(20, 20, 20);
  background-color: whitesmoke;
  padding: 9rem 6em 9em 6em;
  margin: 0 auto;
  margin-bottom: 100px;
}

div.container-first{
  font-size: 18px;
}

div.container-first img {
width:7em;
height: auto;
}

#steps > div > div > div:nth-child(1) {
  margin-bottom: 6rem;
  grid-column-gap: 2em;
}

#steps > div > div > div:nth-child(2) > div:nth-child(1) > div > div > div > h3 {
  line-height: 58px;
  font-size: 1.6rem;
}

#steps > div > div > div:nth-child(2) > div:nth-child(1) > div > div > div {
  width: 50vh;
}

#steps > div > div > div:nth-child(2) > div:nth-child(2) > div > div > div > h3 {
  line-height: 58px;
  font-size: 1.6rem;
}
#steps > div > div > div:nth-child(2) > div:nth-child(2) > div > div > div {
  width: 50vh;
}

#steps > div > div > div:nth-child(2) > div:nth-child(3) > div > div > div{
  width: 50vh;
}

#steps > div > div > div:nth-child(2) > div:nth-child(3) > div > div > div > h3 {
  line-height: 58px;
  font-size: 1.6rem;
}

/*end sterps section scc*/


#navbarNav > ul > li.nav-item.dropdown {
  margin-left: 62rem;
}


#navbarNavDropdown > ul > li:nth-child(2) {
  color:black;
  cursor: pointer;
  margin-top: 8px;
}


#search > div.jumbotron {
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0;
    text-align: center;
    background-color:none;
    display: flex;
    margin-bottom: 42px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;

}


#searchBtn {
  background-color: #1c1c1d!important;
  position: absolute;
  right: 15px;
  padding: 15px 32px;

}

div.jumbotron > .dropdown-toggle-split{
  padding: 14px 30px;
}

.jumbotron {
    width: 70%;
    text-align: left;
    color: #545b62;
    font-size: 24px;
    line-height: 120%;
    padding: 0 var(--bodyPaddingRight) 0 var(--bodyPaddingLeft);
    background: none;
    padding: 24px 0;
    text-align: center;
    background-color:none;
    display: flex;
    margin-bottom: 42px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
}

.bg-primary {
    background:none!important;
}

#hero > div > div > a > img {
    width:11px;
    position: relative;
    top: 0px;
    left: 145px;
    margin-left: 8px;
    stroke-width: 2;
    fill: none;
    stroke: currentColor;
}

.card-heading {
  width: 81%;
  text-align: left;
  margin-top: 13px;
  color: #545b62;
  font-size: 24px;
  line-height: 120%;
}

.button.button {
    height: 42px;
    margin-right: 0;
    padding-right: 0;
    padding-left: 8px;
    background-color: rgba(255,255,255,0);
    color: #1a222c;
    text-decoration: none;
}


#mc-embedded-subscribe:hover {
  background-color: rgb(22, 21, 21)!important;
  animation: got 0.5s ease-out;
  color:rgb(245, 244, 244)!important;
  font-weight: 400;
}

#mc-embedded-subscribe{
  
  font-size: 17px!important;
  border: 0.5px solid rgb(177, 176, 176)!important;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  outline:none;
  background:none!important;
  color: rgb(31, 29, 29)!important;
  width: 16vw;
  padding: 0px 0px 0px 0px;
  height: 53px!important;
  margin-left:20px;
  }


img {
    margin: 17px;
    width: 24px;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

#hero > div > div > button {
    border-radius: 5px;
}


.btn-secondary {
    background: transparent;
    border:none;
}

#hero > div > div {
    margin-top:1em;
    display: flex!important;
}

.btn-outline-dark {
    color: #f4f6f8;
    background-color: #252323;
    background-image: none;
    border-color: #343a40;
    width: 154px;
    height: 50px;
    border-radius: 6px;
}
#hero > div > div > button:hover {
    color:black;
    background:none;
}

a.link-btn {
    font-weight: 500;
    font-size: 16px;
    height: 42px;
    margin-right: 0;
    padding-right: 0;
    padding-left: 8px;
    background-color: rgba(255,255,255,0);
    color: #1a222c;
    text-decoration: none;
}

#main {
    background-color:black;
    width:100%;
    height: 100%;
  
}

/*section anime*/


#anime {
  
  background-color:#100725;
  width: 100%;
  height: 100vh;
  margin-bottom: 157px;
}

#anime > div > div.col-sm-8 > img {
  width: 17em;
  position: relative;
  top: 21em;
  left: -9em;

}

#anime > div > div > div:nth-child(1) > img{
 
  height: auto;
  width: 60rem;
  position: relative;
  top: 24em;
  left: 0em;

}
#anime > div > div > div:nth-child(3) > img{
 
  height: 22em;
  width: 26em;
  position: relative;
  top: 24em;
  left: 24em;

}

#anime > div > div > div:nth-child(3) > p {
  text-align: left;
  top: 24px;
  z-index: 1;
  left: 302px;
  position: relative;
  z-index: 1;
  /* margin-top: -15px; */
  margin-bottom: 0;
  color: #64fdd9;
  /* margin-bottom: 36px; */
  /* margin-left: 0; */
  font-family: Inter,sans-serif;
  /* color: #262626; */
  font-size: 56px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: -.02em;
}


#anime > div > div.col-6.col-md-4 > div.blur{
  box-shadow: none;
}

#anime > div > div > div:nth-child(2) > div{
    color:#6cf1d2;
    right: 287px;
    top: -433px;
    left: 699px;
    text-align: left;
    font-size: 64px;
    font-weight: 800;
    width: 511px;
    text-transform: uppercase;
}

#anime > div {
  margin-left: 28px;
 
  
}
/*end anime*/
 #mockup-3 {
  width: 100%;
  height: 100%;
 }

 div.blur-3 {
  background: rgb(255 255 255 / 0%);
  backdrop-filter: blur(0px);
  height: 34rem;
  width: 39rem;
  z-index: 1;
  box-shadow: 2px 0px 20px 0px #a0a0a0;
  position: relative;
  left: 895px;
  top: -45rem;

}

 div.blur-4 {
    background: rgb(255 255 255 / 0%);
    backdrop-filter: blur(0px);
    height: 76%;
    width: 44%;
    z-index: 1;
    box-shadow: 2px 0px 20px 0px #a0a0a0;
    position: absolute;
    left: 16px;
    top: 72px;
  
}

#mockup-1 > div > div.col-sm-8 > img {
    width: 100%;
    z-index: 1;
}
#mockup-2 > div > div.col-sm-8 > img {
  width: 100%;
  z-index: 1;
}
#mockup-3 > div > div.col-sm-8 > img {
  width: 100%;
  z-index: 1;
}

div.blur {
    background: rgb(255 255 255 / 0%);
    backdrop-filter: blur(0px);
    height: 50rem;
    width: 52rem;
    z-index: 1;
    box-shadow: 2px 0px 20px 0px #a0a0a0;
    position: relative;
    bottom: 357px;
    left: -372px;

}
div.blur-2 {
  background: rgb(255 255 255 / 0%);
  backdrop-filter: blur(0px);
  height: 50rem;
  width: 52rem;
  z-index: 1;
  box-shadow: 2px 0px 20px 0px #a0a0a0;
  position: relative;
  bottom: 357px;
  left: -372px;

}

  #mockup-1 > div > div.col-6.col-md-4 {
    padding: 50px;
  }
  #mockup-2 > div > div.col-6.col-md-4 {
    padding: 50px;
  }

img.grid-video-img {
  width:100%;
  background-color: black;
}

.Search-overlayInputContainer {  
    color:black;
    margin-top: 218px;
    border-bottom: 4px solid #1b1b1a;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    outline:none;
    margin:5em;
}
.White-Search-Icon {
    position: absolute;
    right: 0;
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
  .Search-searchTermsInput--overlay {
    font-family: 'Roboto','sans-serif';
    outline:none;
    letter-spacing: -1px;
    width: 100%;
    font-size: 42px;
    border: 0;
    margin-bottom: 5px;
    color: rgb(26, 24, 24);
  }

  ::placeholder {
      font-size: 24px;
  }

  #galery {
    padding: 0!important;
    display: grid;
    grid-template-columns: repeat(5,300px);
    background: rgb(241, 241, 241);
    grid-gap: 2px;
    background-color: black;
    
}
  #galery img {
    cursor: pointer;
    transition: 0.5s ease-out;
    margin: 0;
    width: 100%;
    padding: 1px;
  }
 
  #galery > img:nth-child(1):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(2):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(3):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(4):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(5):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(6):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(7):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(8):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(9):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(10):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(11):hover {
    transform:scale(1.1);
  }
  #galery > img:nth-child(12):hover {
    transform:scale(1.1);
  }

  

#nav-talents{
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    background-color: #fcfcfc !important;
    color: whitesmoke;
  }

#galery > div:nth-child(1) > div > div{
      max-width: 100%;
    
      transform:scale(1.3);
  }
#galery > div:nth-child(2) > div > div{
    max-width: 100%;
    transition: .5s ease;

}
#galery > div:nth-child(3) > div > div{
    max-width: 100%;
    transition: .5s ease;

}
#galery > div:nth-child(4) > div > div{
    max-width: 100%;
    transition: .5s ease;

}  
#galery > div:nth-child(5) > div > div{
    max-width: 100%;
    transition: .5s ease;

}
#galery > div:nth-child(6) > div > div{
    max-width: 100%;
    transition: .5s ease;

}
#galery > div:nth-child(7) > div > div{
    max-width: 100%;
    transition: .5s ease;
}
#galery > div:nth-child(8) > div > div{
    max-width: 100%;
    transition: .5s ease;
}
#galery > div:nth-child(9) > div > div{
    max-width: 100%;
    transition: .5s ease;

}
#galery > div:nth-child(10) > div > div{
    max-width: 100%;
     transition: .5s ease;
}

#galery > div:nth-child(11) > div > div{
    max-width: 100%;
    transition: .5s ease;   
}

body > div.embed-responsive.embed-responsive-16by9 > iframe {

    border-radius: 0%;
}
body > main > section {
    margin-top: 7em;
    margin-bottom: 7em;
    display: flex;
    width:90%;
    min-height: 80vh;
    align-items: center;
    
}

div.Text {
    margin-left: 8em;
}

body > main > section > div.video{
    overflow: hidden;
    border-radius: none;
}
div.video {
    display: flex;
    overflow: visible;
    width: 100%;
    height: auto;
    max-height: none;
    max-width: 728px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


video{
    display: block;
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
    padding-top: 0;
    border-radius: 30px;
    -webkit-filter: none;
    filter: none;
    border-radius: 24px;
}

@media screen and (max-width: 767px){
video {
    border-radius: 6px;
}}

iframe{
    width: 36vw;
    height: 43vh;
    border-radius: 4%;
}

h2 {
  color: #f0f0f1;
  text-align:center;
  font-size: 77px;
  font-weight: 800;
  line-height: 74px;
  width: 100%;
}
#steps-talents h2 {
  color:rgb(19, 17, 17);
  text-align:center;
  font-size: 77px;
  font-weight: 800;
  line-height: 74px;
  width: 100%;
}

#steps-talents > div > div > div:nth-child(2) {
  padding: 4em;
}

#steps-talents > div > div > div:nth-child(2) > div:nth-child(1){
  padding:30px;
}

#steps-talents > div > div > div:nth-child(2) > div:nth-child(2){
  padding:30px;
}
#steps-talents > div > div > div:nth-child(2) > div:nth-child(3){
  padding:30px;
}

p {
    text-align: start;
    font-weight: 500px;
    margin-left: 0;
    white-space: pre-line;
    font-size:21px;
    width:65%;
    width: 50%;
}

.cta {
    padding:14px 0px 0px 0px;

}
#mc_embed_signup {
  padding:70px;
}
/*navbar search talents*/

#navbarNav > form > button {
  background-color: transparent;
  color:black;
  border-color: #ced4da;
}
#navbarNav > form > button:hover {
  background-color: black;
  color:whitesmoke;
}
#navbarNav > form > input {
  text-align: left;
  outline: none;
}

#navbarNav > form {
  margin-left: 52em;
}


body > nav > form > button:active {
    padding: 14px;
    border: none;
    position: relative;
    right: 26px;
    width: 9em;
    color: #fff!important;
    background-color: #131213!important;
    border-color: #131212!important;
}

body > nav > form > button:focus{
  box-shadow: none!important;
}

body > nav > form > button:hover {
  border:none!important;
  color: rgb(248, 248, 248);
  outline-style: none;
  background-color: black!important;
}

/*end search talents*/

#form p {
  text-align: center;
  width: 100%;
  font-size: 24px;
}

#form >label {
  margin-top:0px
}

* {
  padding: 75px;
  text-align:center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --marquee-width: 80vw;
  --marquee-height: 60vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}


.marquee-second {
  margin: -1em 12em 0em 0em;
  width: 100%;
  /*height: var(--marquee-height);*/
  background-color: #1c1b29;
  color: #eee;
  overflow: hidden;
  position: relative;
}

.marquee-content-second {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-content-second {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-content-second li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content-second li {
  width: 50vh;
  
}

.marquee-content-second li img {
  width: 100%;
 
}
.marquee > li {
  padding:10px;
}
.marquee {
  width: 59%;
  margin: -2em 0em 0em 0em;
  /*width: var(--marquee-width);
  height: var(--marquee-height);*/
  background-color: #1c1b29;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  height: 80%;
  left: 0;
  background: linear-gradient(to right, #1c1b29 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #1c1b29 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@media screen and (min-width: 1280px){
.div-block-299 {
    position: relative;
    left: -8%;
    top: 70px;
    width: 40%;
}}
/*------Mailchimp Form mobile------*/
@media screen and (max-width: 600px){
  #mc_embed_signup {
    margin: 0;
    padding: 0!important;
  }
  #mc-embedded-subscribe {
    background-color: #24000B!important;
    color:whitesmoke!important;
  }
  #mce-EMAIL{
    width:100% !important;
    margin-bottom: 13px!important;
  }
  #mc_embed_signup_scroll {
    padding: 6px;
  }
  
}

@media screen and (max-width: 600px){
  #form > div.col-sm-12 {
    width: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
    padding: 0;
    margin: 0;
  }
  #form > div > div.col-sm-12 > img {
    width: 300px;
    height: 300px;
    margin-top: -14%;
  }
}

@media screen and (max-width: 600px){
  #form {
    width: 100%!important;
    margin:0 !important ;
    margin-top: 4rem!important ;
  }
  #form > div {
    margin:0;
    padding: 0;
  }
  h4{
    padding: 0;
  }
}
/*-----end form mobile*/


@media screen and (min-width: 1280px){
.div-block-299 {
    position: relative;
    left: -8%;
    top: 70px;
    width: 40%;
  }
}
.div-block-299 {
    margin-top:25px;
    left: 910px;
    text-align: left;
    top: -300px;
    z-index: 5;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.display-heading-2.relative {
  text-align: left;
  position: relative;
  z-index: 100;
  margin-top: 64px;
  margin-bottom: 0;
  color: #262626;
}

.display-heading-2 {
  margin-bottom: 36px;
  margin-left: 0;
  font-family: Inter,sans-serif;
  color: #262626;
  font-size: 56px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: -.02em;
}

.body-thick {
  font-family: Inter,sans-serif;
  color: #8e8d92;
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
}

.body-thick {
  text-align: left;
  font-family: Inter,sans-serif;
  color: #5f73fe;
  font-size: 31px;
  line-height: 120%;
  font-weight: 500;
}


/* .marquee-content:hover {
  animation-play-state: paused;
} */

.marque-section {
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 366px;
  padding-bottom: 112px;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}



@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li {
  width: 50vh;
  
}

.marquee-content li img {
  width: 100%;
 
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}

div.card {
    background: whitesmoke;
    border: none;
    z-index: 1;
    padding: 4em;
    
}

body > div.card > div > div.cf7-tab.cf7-tab-1 {
  padding:3px;
}

div.container-body-tab {
   
    background-color: white;
    border-radius: 13px;
    border: 1px solid #e6e2e2;
    padding: 3em;
}
#form-2 {
  height: auto;
  margin: 8em 0em 0em 0em;
  width: 70%;
  margin: 0 auto;
  margin-top: 21rem;
}

#mc_embed_signup > img {
  width: 23em;
    position: relative;
    right: 400px;
    top: -214px;
}

#form-2 > div {
  text-align:-webkit-center;
}

#form {
    height: 100vh;
    margin: 8em 0em 0em 0em;
    width: 70%;
    margin: 0 auto;
    margin-top: 8rem;
}

#form label {
  color:white;
  font-size: 1.9rem;
  pad: 10px;
}
/*form citie coder*/

#form > div.col-sm-8 > img {
  width: 18em;
  position: relative;
  top: -248px;
  left: -281px;
}

#form-2 > div.col-sm-8 > img {
  width: 21em;
  position: relative;
  top: -248px;
  left: -281px;
}

/*end kitie coder footer*/
#EMAIL.email{
 
  text-align: left;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #c3cdd5;
    color: rgba(49, 49, 49, 0.85);
    font-size: 1rem;
    padding: 0 1.5rem;
    transition: background .3s ease-out, border .3s ease-out;
    height: 52px;
    width: 55%;
    max-width: 100%;

}


#mc_embed_signup input.email {
    text-align: left;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background: whitesmoke!important;
    border-radius: 5px!important;
    -webkit-border-radius: 5px;
    color: rgba(49, 49, 49, 0.85)!important;
    font-size: 1rem;
    padding: 0 1.5rem!important;
    transition: background .3s ease-out, border .3s ease-out;
    height: 52px!important;
    width: 100%!important;
    max-width: 100%;
}
.wpcf7-form label.error {
  color: #FF5583;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 0.5rem;
}


input[type="text"]
{
    font-size:17px;
}


input:focus{
    border-color: #377dff;
    outline: none;
}



select {
  --webkit-border-radius: 5px;
  border: 1px solid #c3cdd5;
  display: block;
  color: rgba(49, 49, 49, 0.85);
  font-size: 17px;
  margin: 0;
  padding: 0 1.5rem;
  transition: background .3s ease-out, border .3s ease-out;
  height: 45px;
  width: 100%;
  max-width: 100%;
}

textarea {
  overflow: auto;
  resize: vertical;
  --webkit-border-radius: 5px;
  border: 1px solid #c3cdd5;
  display: block;
  color: rgba(49, 49, 49, 0.85);
  font-size: 1.5rem;
  margin: 0;
  padding: 0 1.5rem;
  transition: background .3s ease-out, border .3s ease-out;
  height: 45px;
  width: 100%;
  max-width: 100%;
}
textarea {
  padding: 1rem 1.5rem;
  height: 10em;
}

.newsletter .form-wrapper {
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  display: inline-flex;
  display: -webkit-inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 0.35rem;
}

@media (min-width: 600px){
.newsletter .form-wrapper .form-group:first-child {
    width: 30rem;
}
}

#mce-EMAIL {
  background: whitesmoke;;
  text-align: left;
}
.form-group {
  text-align: center;
  margin-bottom: 2rem;
}
::-webkit-input-placeholder {
  font-size: 17px;
}
::-moz-placeholder {
  font-size: 17px;
}
:-ms-input-placeholder {
  font-size: 17px;
}
:-moz-placeholder {
  font-size: 17px;
}

/*BTN UNDER FORM*/

.multiple-nav a {
  --webkit-border-radius: 5px;
    text-align: center;
    width: 12rem;
}
.multistep-nav div {
  width: 100%;
}

.multistep-nav {
  display: flex;
  margin: 30px 0;
}

.multistep-nav-right {
  text-align: right;
}

.multistep-nav button {
    height: 48px;
    background-color: black;
    color: #ffffff;
    text-decoration: none;
}

span.label-icon {
  padding: 12px 43px 12px 43px;

}
.multistep-nav a.multistep-cf7-next {
  background-color: #0d0d0e;
}

h4 {
    font-family: 'Roboto',sans-serif;
    font-size: 1.9rem;
    font-weight: 900;
    color: rgb(27, 27, 27);
    text-shadow: 0 0 0 black;
    letter-spacing: 2px;
    
}

@media (min-width: 600px){
h4 {
  
    line-height: 58px;
    font-size: 3.6rem;
}}

/*text producthunt*/
